<div class="flex_div login_side_nav">
    <div class="flex_div login_side_nav_1">
        <p>CHAT WAY</p>
        <span onclick="showLogin(0)" class="login_side_nav_icon"><i class="fa fa-plus"></i></span>
        <span onclick="showLogin(1)" class="login_side_nav_icon"><i class="fa fa-building"></i></span>
        <span onclick="showLogin(2)" class="login_side_nav_icon"><i class="fa fa-lock"></i></span>
    </div>
</div>