<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../public/css/class.css" />
  <link rel="stylesheet" href="../public/css/login.css" />
  <link rel="stylesheet" href="../public/css/login_side_nav.css">
  <link rel="stylesheet" href="../public/css/media.css" />
</head>

<body>

  <div class="flex_div main_home_div">

    {{>login_side_nav}}
    <div class="flex_div main_home_div_1">

      <form method="post" action="registration" class="flex_div registration_div home_div" id="registration_form">
        <span class="login_head_icon"><i class="fa fa-user"></i></span>
        <h1 class="login_head">Sign Up</h1>
        <div class="flex_div login_div_1">
          <div class="flex_div login_div_int">
            <span class="login_icon"><i class="fa fa-envelope"></i></span>
            <input type="email" name="registration_email" class="login_int" placeholder="Registration Email" />
          </div>
          <div class="flex_div login_div_int">
            <span class="login_icon"><i class="fa fa-address-card"></i></span>
            <input type="text" name="registrartion_name" class="login_int" placeholder="Unique Name" />
          </div>
          <div class="flex_div login_div_int">
            <span class="login_icon"><i class="fa fa-lock"></i></span>
            <input type="password" name="registration_password" class="login_int" placeholder="Registration Password" />
          </div>
          <button class="login_btn">Sign In</button>
          <a href="" class="login_a">Already I Have An Account ! </a>
          <div class="flex_div login_social_account">
            <a href="/auth/google" class="login_social"><i class="fa-brands fa-google"></i></a>
            <a href="" class="login_social"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="login_social"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </form>
      <div class="flex_div about_div home_div">
        <div class="flex_div about_div_text">
          <h1 class="login_head">Get Start</h1>
          <p class="home_text">Start Comminication With Out Chat Way...</p>
          <div class="flex_div home_icon_div">
            <span class="home_icon"><i class="fa-brands fa-rocketchat"></i></span>
            <span class="home_icon"><i class="fa fa-people-arrows"></i></span>
          </div>
        </div>
        <div class="flex_div about_div_text">
          <h1 class="login_head">Room Chat</h1>
          <p class="home_text">Create Your Own Room And Continue Your Private
            Chat...</p>
          <div class="flex_div home_icon_div">
            <span class="home_icon"><i class="fa-brands fa-rocketchat"></i></span>
            <span class="home_icon"><i class="fa fa-user-group"></i></span>
          </div>
        </div>
        <div class="flex_div about_div_text">
          <h1 class="login_head">Sharing Media</h1>
          <p class="home_text">Sharing Your Images ,Files ,Video And Other
            Things...</p>
          <div class="flex_div home_icon_div">
            <span class="home_icon"><i class="fa-brands fa-rocketchat"></i></span>
            <span class="home_icon"><i class="fa fa-share-nodes"></i></span>
          </div>
        </div>
        <div class="flex_div home_dot_div">
          <span class="home_dot" onclick="about_text_fun(0)"></span>
          <span class="home_dot" onclick="about_text_fun(1)"></span>
          <span class="home_dot" onclick="about_text_fun(2)"></span>
        </div>
        <div class="flex_div about_action_div">
          <button class="about_action_btn">Sign Up</button>
          <button class="about_action_btn">Sign In</button>
        </div>
      </div>

      <form class="flex_div login_div home_div">
        <span class="login_head_icon"><i class="fa fa-user"></i></span>
        <h1 class="login_head">Sign In</h1>
        <div class="flex_div login_div_1">
          <div class="flex_div login_div_int">
            <span class="login_icon"><i class="fa fa-envelope"></i></span>
            <input type="email" name="login_email" class="login_int" placeholder="Login Email" />
          </div>
          <div class="flex_div login_div_int">
            <span class="login_icon"><i class="fa fa-lock"></i></span>
            <input type="password" class="login_int" placeholder="Login Password" />
          </div>
          <button class="login_btn">Sign In</button>
          <a href="" class="login_a">I Don't Have My Account ! </a>
          <div class="flex_div login_social_account">
            <a href="" class="login_social"><i class="fa-brands fa-google"></i></a>
            <a href="" class="login_social"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="login_social"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </form>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../public/js/home.js"></script>
  <script src="../public/js/registration.js"></script>
  <script>
    function showLogin(index) {
      var window_width = window.innerWidth;
      if (window_width <= 799) {
        for (var i = 0; i < 3; i++) {
          if (i == index) {
            $(".home_div").eq(index).css("display", "flex");
            $(".home_div").eq(index).css({ transform: "scale(0.9)", "z-index": 99 });
            $(".login_side_nav_icon").eq(index).css("background", "#7265F0");
          } else {
            $(".home_div").eq(i).css("display", "none");
            $(".login_side_nav_icon").eq(i).css("background", "#3A3B3D");
          }
        }
      }
    }
  </script>
</body>

</html>